// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.d-table {
     display: table;
}

.top100 {
  padding-top: 100px;
}

.top50 {
  padding-top: 50px;
}

.top30 {
  padding-top: 30px;
}

.left10 {
  padding-left: 10px;
}